<nb-layout fixed>

    <nb-layout-column >
  
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
      <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
      <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      <!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
      <!-- * * * * * * * to get started with your project! * * * * * * * * -->
      <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
      
      
      <nb-card [size]="'large'" >
        <nb-card-header>
           <a href="https://www.google.co.in/"> <nb-icon icon="arrow-back"[options]="{ animation: { type: 'zoom' } }" status="warning"></nb-icon>
           </a>
        </nb-card-header>
        <nb-card-body style="padding-left: 350px;">
            <nb-auth-block  >
                <nb-login >
                            
                </nb-login>
            </nb-auth-block>
        </nb-card-body>
    </nb-card>